.main__content {
    padding-top: 150px;
    transition: all 1000ms ease;
    position: absolute;
    width: 100vw;
    top: 0;
    opacity: 1;

    @media (max-width: 700px) {
        padding-top: 100px;
    }
    
    &--hidden {
        @extend .main__content;
        top: 20px;
        opacity: 0;
    }
}