.main__header {
    position: fixed;
    width: calc(100vw - 40px);
    height: 60px;
    padding: 20px;
    transition: all 500ms ease 0s;
    z-index: 666;

    &-mobile {
        @extend .main__header;
        padding: 10px;
        width: calc(100vw - 20px);

        &--top {
            @extend.main__header-mobile;
            color: $color-primary-dark;
        }

        &--scrolling {
            @extend.main__header-mobile;
            background-color: $color-secondary-dark;
            color: $color-primary-dark;
            box-shadow: 0px 3px 10px #333;
        }
    }
    
    &--top {
        @extend .main__header;
        color: $color-secondary-dark;
    }

    &--scrolling {
        @extend .main__header;
        background-color: $color-secondary-dark;
        color: $color-primary-dark;
    }
}

.header {
    &__nav {
        margin-left: auto; 
        margin-right: 0;
    }
}

.logo {
    &__img {
        width: 60px;
        height: 60px;
        padding-right: 20px;

        @media (max-width: $mobile-cutoff) {
            padding: 0;
        }
    }
}

.nav {
    &-mobile {
        background-color: $color-secondary-dark;
        width: 100vw;
        padding: 7px 65px;
        top: 0;
        position: relative;
        z-index: 667;
        transition: all 500ms ease;
        box-shadow: 0px 2px 10px #333;

        &--hidden {
            @extend .nav-mobile;
            top: -400px;
        }
    }

    &__link {
        padding: 5px 10px;
        font-weight: 300;
        text-decoration-line: none;
        color: inherit;

        &:hover {
            text-decoration-line: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
        }

        &--selected {
            @extend .nav__link;
            text-decoration-line: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
        }
    }
}