.mobile-only {
    display:none;
}

.desktop-only {
    display:block;
}

@media screen and (max-width:780px) {
    .mobile-only {
        display:block;
    }

    .desktop-only {
        display:none;
    }
}