<div id="header" class="main__header--top flex-set flex--row flex--align-items-center">
    <div class="header__logo">
        <img class="logo__img" src="images/nfe.webp" alt="NFE">
    </div>
    <div class="header__title">
        <h2>YungNo</h2>
    </div>
    <div class="header__nav flex-set flex--row">
        <a data-page="home" class="nav__link" href="#home">Home</a>
        <a data-page="bio" class="nav__link" href="#bio">Bio</a>
        <a data-page="photos" class="nav__link" href="#photos">Photos</a>
        <a data-page="contact" class="nav__link" href="#contact">Contact Me</a>
    </div>
</div>