<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Artist Yung No Official Website</title>
    <meta name="description" content="Hey, fuck you man! Who put this thing together? Me!">
    <meta name="author" content="borey 👹">

    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <script src="js/index.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="theme--dark">
    <x-header></x-header>
    <div id="content" class="main__content flex-set flex--column flex--align-items-center">
    </div>
</body>
</html>