.button {
    transition: all 500ms ease;
    font-size: 1.5em;
    font-weight: 100;
    padding: 20px 25px;
    border-radius: 0px;
    border: 1px solid $color-secondary-dark;
    width: fit-content;
    background-color: inherit;
    color: inherit;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: $color-secondary-dark;
        color: $color-primary-dark;
    }

    &--light {
        @extend .button;
        border: 1px solid $color-primary-dark;
        &:hover {
            cursor: pointer;
            background-color: $color-primary-dark;
            color: $color-secondary-dark;
        }
    }

    &__link {
        color: inherit;
        text-decoration: inherit;
    }
}