.back-video {
    height: 120vh;
    z-index: 0;
    overflow:hidden;
    @media (max-width: $mobile-cutoff) {
        height: 110vh;
    }
}

.video-container {
    top: -10px;
    // left: 0;
    position: absolute;
    overflow:hidden;
    width: 100vw;
    height: 120vh;

    @media (max-width: $mobile-cutoff) {
        height: 110vh;
    }

}

.container {
    height: 120vh; 
    scroll-padding-top: 0; 
    scroll-margin-top: 0;

    @media (max-width: $mobile-cutoff) {
        height: 110vh;
    }
}