.home {
    max-width: 1060px;
    width: calc(100vw - 100px);
    min-width: 200px;

    &__container-half {
        width: calc(40% - 40px);
        padding: 20px;

        @media (max-width: 1200px) {
            width: calc(50% - 40px);
        }

        @media (max-width: $mobile-cutoff) {
            width: 80%;
        }

    }

    &__section {
        padding: 20px;
        text-align: center;
    }
}