<div class="contact flex-set flex--column flex--align-items-center">
    <div class="contact__section">
        <div class="text--large text--lighter">CONTACT ME</div>
        <div class="text--small text--light">Feel free to contact my team to book for shows, features, and promotion. Willing to travel throughout the United States</div>
    </div>

    <div class="contact__container flex-set flex--column">
        <div class="contact__container-half mobile-only flex-set flex--column">
            <div class="flex-set flex--row flex--align-items-center">
                <div class="image--icon">
                    <i class="fa-solid fa-mobile"></i>
                </div>
                <div class="contact__info text--light">(937) 284-2962</div>
            </div>
            <div class="flex-set flex--row flex--align-items-center">
                <div class="image--icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="contact__info text--light">Gordonmu54@gmail.com</div>
            </div>
        </div>

        <div class="flex-set flex--row">
            <div class="contact__container-half flex-set flex--column">
                <input class="i input" type="text" placeholder="Full Name">
                <input class="i input" type="text" placeholder="Yourinfo@mail.com">
            </div>
            
            <div class="contact__container-half desktop-only flex-set flex--column">
                <div class="flex-set flex--row flex--align-items-center">
                    <div class="image--icon">
                        <i class="fa-solid fa-mobile"></i>
                    </div>
                    <div class="contact__info text--light">(937) 284-2962</div>
                </div>
                <div class="flex-set flex--row flex--align-items-center">
                    <div class="image--icon">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="contact__info text--light">Gordonmu54@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="contact__container-half" style="padding-top: 0;">
            <textarea class="im input--message" placeholder="Message"></textarea>
        </div>
        <div class="contact__container-half" style="padding-top: 0;">
            <div id="submit" class="button--light">Submit</div>
        </div>
    </div>
</div>