<div class="photos" class="flex-set flex--column flex--align-items-center">
    <div class="flex-set flex--row flex--align-items-center">
        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno0.webp" alt="yungno0">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno1.webp" alt="yungno1">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno2.webp" alt="yungno2">
        </div>
    </div>

    <div class="flex-set flex--row flex--align-items-center">
        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno3.webp" alt="yungno3">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno4.webp" alt="yungno4">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno5.webp" alt="yungno5">
        </div>
    </div>
</div>