<div class="photos" class="flex-set flex--column flex--align-items-center">
    <div class="desktop-only flex--column">
        <p style="text-align: center;" class="text--medium text--lighter">OHIO-BASED VERSATILE SOLO ARTIST/FOUNDER OF NFE HIPHOP/R&B SOUND</p>
        <p style="text-align: center;" class="text--medium">(NOFRIENDSENTERTAINMENT)</p>
        <p style="text-align: center;" class="text--medium text--lighter">HIPHOP/R&B SOUND</p>
    </div>
    <div class="mobile-only flex--column">
        <p class="text--medium text--lighter text--justify">OHIO-BASED VERSATILE SOLO ARTIST/FOUNDER OF NFE</p>
        <p class="text--medium text--left">(NO </p>
        <p class="text--medium text--left">FRIENDS</p>
        <p class="text--medium text--left">ENTERTAINMENT)</p>
        <p class="text--medium text--lighter text--justify">HIPHOP/R&B SOUND</p>
    </div>

    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="photos__container-third mobile-only">
            <p class="text--lighter text--justify">Upcoming Springfield, OH native Noah Benton. Goes by the stage name YungNo. A versatile Rap/R&B Artist. YungNo provides a vintage look at pain, tribulations and love. As he rises to fame (Genesis 5:29)</p>
        </div>
        
        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno0.webp" alt="yungno0">
        </div>
        
        <div class="photos__container-third desktop-only">
            <p class="text--lighter text--justify">Upcoming Springfield, OH native Noah Benton. Goes by the stage name YungNo. A versatile Rap/R&B Artist. YungNo provides a vintage look at pain, tribulations and love. As he rises to fame (Genesis 5:29)</p>
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno2.webp" alt="yungno2">
        </div>
    </div>

    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno3.webp" alt="yungno3">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno4.webp" alt="yungno4">
        </div>

        <div class="photos__container-third">
            <img class="image--yungno" src="images/yungno5.webp" alt="yungno5">
        </div>
    </div>
</div>