<div id="home" class="home" class="flex-set flex--column flex--align-items-center">
    <div class="flex-set flex--column flex--align-items-center flex--content-center">
        <p class="text--medium text--lighter">Ohio-based Versatile Solo Artist/founder of NFE (NoFriendsEntertainment). HipHop/R&B Sound</p>

        <a href="https://music.apple.com/us/album/letter-to-you/1624744015" target="_blank">
            <img class="image--yungno" src="images/yungno0.webp" alt="yungno0">
        </a>
    </div>
    
    <div class="home__section">
        <div class="text--large">Albums, EPs, Mixtapes & Singles</div>
    </div>

    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="home__container-half">
            <a class="flex-set flex--column flex--align-items-center" href="https://music.apple.com/us/album/letter-to-you/1624744015" target="_blank">
                <img class="image--album" src="images/letter_to_you_front.webp" alt="letter_to_you_front">
            </a>
        </div>
        <div class="home__container-half">
            <div class="text--medium text--lighter">Letter To You (Apple Music)</div>
            <p class="text--lighter">Letter To You is the latest tape from artist Yung No. A diverse tape that was created in musical cites such as Chicago, Atlanta, Miami, and Cincinnati. Yung No brings his fans a look at his versatile style while also sharing his grit, pain, love and acceptance of who he is. This is his Letter To You, his fans.</p>
            <a class="text--lighter text--link" href="https://music.apple.com/us/album/letter-to-you/1624744015" target="_blank">🔗:https://music.apple.com/us/album/letter-to-you/1624744015</a>
        </div>
    </div>

    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="home__container-half">
            <a class="flex-set flex--column flex--align-items-center" href="https://open.spotify.com/album/31nywbAwVrAvEnujBSSvPw?si=r29RBKYVR7SoLGgAmWYvEA" target="_blank">
                <img class="image--album" src="images/letter_to_you_back.webp" alt="letter_to_you_back">
            </a>
        </div>
        <div class="home__container-half">
            <div class="text--medium text--lighter">Letter To You (Spotify)</div>
            <p class="text--lighter">Letter To You is the latest tape from artist Yung No. A diverse tape that was created in musical cites such as Chicago, Atlanta, Miami, and Cincinnati. Yung No brings his fans a look at his versatile style while also sharing his grit, pain, love and acceptance of who he is. This is his Letter To You, his fans.</p>
            <a class="text--lighter text--link" href="https://open.spotify.com/album/31nywbAwVrAvEnujBSSvPw?si=r29RBKYVR7SoLGgAmWYvEA" target="_blank">🔗:https://open.spotify.com/album/31nywbAwVrAvEnujBSSvPw?si=r29RBKYVR7SoLGgAmWYvEA</a>
        </div>
    </div>

    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="home__container-half">
            <img class="image--yungno" src="images/yungno1.webp" alt="yungno1">
        </div>
        <div class="home__container-half">
            <p class="text--medium">Upcoming Springfield, OH native Noah Benton. Goes by the stage name YungNo. A versatile Rap/R&B Artist. YungNo provides a vintage look at pain, tribulations and love. As he rises to fame (Genesis 5:29)</p>
        </div>
    </div>

    <div class="home__section flex-set flex--column flex--align-items-center">
        <a class="button__link" href="#bio">
            <div id="learnmore" data-page="bio" class="button">Learn More</div>
        </a>
    </div>
</div>