<div class="work">
    <div class="home__section">
        <div class="text--large text--lighter">ALBUMS, EPS, MIXTAPES & SINGLES</div>
    </div>
    
    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="home__container-half flex-set flex--column flex--align-items-center">
            <div class="image--album"></div>
        </div>
        <div class="home__container-half">
            <div class="text--medium text--lighter">Letter To You (OUT NOW)</div>
            <p class="text--lighter text--justify">Letter To You is the latest tape from artist Yung No. A diverse tape that was created in musical cites such as Chicago, Atlanta, Miami, and Cincinnati. Yung No brings his fans a look at his versatile style while also sharing his grit, pain, love and acceptance of who he is. This is his Letter To You, his fans.</p>
            <div class="flex-set flex--row flex--align-items-center">
                <a href="https://music.apple.com/us/album/letter-to-you/1624744015" target="_blank">
                    <img class="image--music" src="images/apple.png" alt="apple music">
                </a>
                <a href="https://open.spotify.com/album/31nywbAwVrAvEnujBSSvPw?si=r29RBKYVR7SoLGgAmWYvEA" target="_blank">
                    <img class="image--music" src="images/spotify.png" alt="letter_to_you_back">
                </a>
            </div>
        </div>
    </div>
</div>