<div class="bio" class="flex-set flex--column flex--align-items-center">
    <div class="flex-set flex--wrap flex--row flex--align-items-center flex--content-center">
        <div class="home__container-half">
            <img class="image--yungno" src="images/yungno2.webp" alt="yungno2">
        </div>
        <div class="home__container-half">
            <p class="text--medium">Upcoming Springfield, OH native Noah Benton. Goes by the stage name YungNo. A versatile Rap/R&B Artist. YungNo provides a vintage look at pain, tribulations and love. As he rasies to fame (Genesis 5:29)</p>
        </div>
    </div>
    
    <div class="home__section flex-set flex--column flex--align-items-center">
        <a class="button__link" href="#contact">
            <div id="contactme" data-page="contact" class="button">Contact Me</div>
        </a>
    </div>
</div>